@import './base.css';

body {
  padding: 2rem;  /* Du kannst Padding hier setzen, wenn nötig */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
  transition: background-color 0.3s ease;
}
